---
layout: default
title: Volunteering
---
    <h1>{{ page.title }}</h1>
    <p>This semester, I was required to help out at the Age-Concern building, located in the Octagon. The volunteering included helping out
        Older folks with their technology, providing tips and help for certain tasks they wanted to perform.</p>
    <p> I ended up going to Age-Concern twice this semester, although I encountered a few issues the first time I went</p>
    <p>Below are the blog posts of when I went to Age-Concern. They have more in-depth information than what can be found here on the index.</p>
        <ul class="posts">
         {% for post in site.posts %}
             {% if post.tags contains 'volunteering' %}
             <li>
             <h3>
             <a href="{{ site.baseurl }}{{ post.url }}">
             {{ post.title }}
             <small>{{ post.date | date_to_string }}</small>
             </a>
             </h3>
             </li>
             {% endif %}
         {% endfor %}
        </ul>
